<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Evrard Van Espen</title>
	<style>
	 {{ .Css }}
	</style>
    </head>
    <body>
	{{ template "header.html" . }}

	{{ .Hero }}

	<main id="page">
	    <div id="content">
		{{ .Content }}
	    </div>
	    {{ if .ShowSidebar }}
	    <div id="sidebar">
		<h2>Tags</h2>
		<div id="tags">

		    {{ range .Tags }}
		    <a href="/tags/{{ . }}.html">{{ . }}</a>
		    {{ end }}

		</div>
	    </div>
	    {{ end }}
	</main>
    </body>
</html>
