<section id="posts">
    <h2 class="section-title">~ Posts</h2>
    {{ range .Posts }}
    <div class="article">
	<a href="{{ .PathHtml }}">
	    <article>
		<p class="date">{{ .DateStr }}</p>
		<div class="right">
		    <h3>{{ .Title }}</h3>
		    <p class="description">{{ .Description }}</p>
		    <p class="reading-time">{{ .ReadTime }} minutes read</p>
		    <div class="article-tags">
			{{ range .Tags }}
			<div class="tag">{{ . }}</div>
			{{ end }}
		    </div>
		</div>
	    </article>
	</a>
    </div>
    {{end}}
</section>
